.container {
    padding: 3rem 2rem;
    /* Increased side padding slightly for full width aesthetic */
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.heading {
    display: block;
    font-size: 2rem;
    color: #002855;
    text-align: left;
    margin-bottom: 2rem;
    font-weight: 700;
}

/* We'll use contentWrapper to constrain width but keep it open */

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    max-width: 100%;
    margin: 0;
}

.messageColumn {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    text-align: left;
}

.paragraph {
    margin-bottom: 1.5rem;
}

.highlight {
    font-weight: 600;
    color: #002855;
}

/* Removed video styles */