.container {
    padding: 3rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.heading {
    display: block;
    font-size: 2rem;
    color: #002855;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
}

/* We'll use contentWrapper to constrain width but keep it open */

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

@media (min-width: 768px) {
    .contentWrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3rem;
    }
}

.messageColumn {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: left;
}

.introText {
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

.highlight {
    font-weight: 600;
    color: #000;
}

.closingText {
    margin-top: 1rem;
    font-weight: 500;
}

.videoColumn {
    flex: 1;
    width: 100%;
}

.videoContainer {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    background: #000;
}

.videoFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}